<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nexus</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Nexus | Marketing Management System</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Dictionaries <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Dictionaries/Index?entityName=ActivityStatus">Activity Status</a></li>
                            <li><a href="/Dictionaries/Index?entityName=ActivityType">Activity Status</a></li>
                            <li><a href="/Dictionaries/Index?entityName=Client">Client</a></li>
                            <li><a href="/Dictionaries/Index?entityName=ProductBrand">Product Brand</a></li>
                            <li><a href="/Dictionaries/Index?entityName=ProductCategory">Product Category</a></li>
                            <li><a href="/Dictionaries/Index?entityName=ProductLine">Product Line</a></li>
                            <li><a href="/Dictionaries/Index?entityName=ProductLink">Product Link</a></li>
                            <li><a href="/Dictionaries/Index?entityName=ProductStockKeepingUnit">Product Stock Keeping Unit</a></li>
                            <li><a href="/Dictionaries/Index?entityName=Store">Store</a></li>
                            <li><a href="/Dictionaries/Index?entityName=StorePlace">Store Place</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>

</html>